.products_catalog{
    text-align: center;

}

.products_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 133px;
    padding-left: 100px;

}

.filter_1{
    display: flex;
    justify-content: space-between;
    width: 70px;
    align-content: center;

    a{
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: #000000;

    }
    img{
        margin-left: 10px;

    }
}

.filter_1_mini{
    display: none;
    justify-content: space-between;
    width: 70px;
    align-content: center;

    a{
       text-decoration: none;

    }
    img{
        margin-left: 10px;

    }
}

.filter_2{
    margin-right: 44%;
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-content: center;

    a{
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color:#6F6E6E;

    }
        img{
        margin-left: 10px;

    }
}

@media (max-width: 1024px) {
        .filter_2{
            margin-right: 0;

        }
        .products_filter {
        padding-left: 16px;
        padding-right: 16px;

    }
}

@media (max-width: 425px){
    .filter_1{
        display: none;

    }
    .filter_1_mini{
        display: flex;

    }
}