.promo{
    background-color: #F1E4E6;

}  

.promo_wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../img/promo_wrap_back.png);
    background-repeat: no-repeat;
    background-position-x: -226px;
    background-position-y: 100%;
    min-height: 764px;
    width: 100%;

}

.promo_heading{
    margin-right: 9%;
    padding-left: 16px;
    border-left: 12px solid $color_pink;

}

.the_brand{
    font-size: 48px;

}

.of_luxerious{
    font-size: 32px;

}

.fashion{
    color: $color_pink;
    font-size: 32px;

}

@media (max-width: 900px) {
    .promo_wrap {
        min-height: 368px;
        background-image: url(../img/romo_wrap_back_mini.png);
        background-position-x: -1px

    }
    .the_brand{
        font-size: 44px;

    }
    .of_luxerious{
        font-size: 24px;

    }
    .fashion{
        color: $color_pink;
        font-size: 24px;

    }
}

@media (max-width: 700px) {
    .promo_wrap {
        background-image: none;
        justify-content: center;
        min-height: 363px;

    }
    .promo_heading{
        margin-right: 0;

    }
    .the_brand{
        font-size: 44px;

    }
    .of_luxerious{
        font-size: 24px;

    }
    .fashion{
        color: $color_pink;
        font-size: 24px;

    }
}