.promo-catalog {
    background-color: #f8f3f4;
    min-height: 148px;

    .promo-catalog__wrap {
        @include wrap;
        display: flex;
        height: 148px;
        align-items: center;
        justify-content: space-between;
    }

    .promo-catalog__h1 {
        font-size: 24px;
        font-weight: 400;
        color: $color_pink;
    }

    .promo-catalog__menu a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        color: #636363;
    }

    .promo-catalog__new-arrivals {
        color: $color_pink;
    }

    @media (max-width: 1440px) {
        .promo-catalog__wrap {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    @media (max-width: 425px) {
        .promo-catalog__wrap {
            flex-direction: column;
            justify-content: space-evenly;
            padding-bottom: 20px;
        }
    }
}
